*{  
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
.title{
    display: flex;
    text-align: center;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: #9c98a6;
    margin-left: 15px;
    margin-right: 20px;
    color: black;
}

.container{
    font-family: 'Playfair Display', serif;
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
    background-color: bisque;
    padding: 30px;
    padding-bottom: 30px;
    border-radius: 8px;
    float: right;
    align-items: center;
    text-align: center;
}

body{
    overflow: hidden;
    max-width: 100%;
    max-height: 100vh;
    /* width: 131%; */
    padding: 100px;
    margin-bottom: 90px;
    background-position: 30% 45%;
    background-size: cover;
    background-image: url("../images/Background1.jpg");
}

h1{
    font-size: 2rem;
    margin-top: auto;
    padding-bottom: 30px;
}

input{
    display: block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
}

button{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3px;
    border: none;
    padding: 8px;
    background-color:black;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.qdtadultos{
    text-align: center;
    margin-bottom: 5px;
    text-decoration: dotted;
    font-size: 1.4rem;
    padding: 10px;
}

.qdtcriancas{
    text-align: center;
    margin-bottom: 5px;
    text-decoration: dotted;
    font-size: 1.4rem;
    padding: 10px;
}

.duracao{
    text-align: center;
    margin-bottom: 5px;
    text-decoration: dotted;
    font-size: 1.4rem;
    padding: 10px;
}

input::placeholder{
    text-align: center;
    color: #9c98a6;
}
